/* Sections for easy search
max width containers
header
navigation
footer
homepage
menu
gift cards
location
*/

/* Site colors
#4f7161
#6b887a
#66c999
#c81e21
#666666
*/

@import "https://fonts.googleapis.com/css?family=Bitter:400,700|Raleway:500,500i";

html {
    box-sizing: border-box;
}

/* this is for customized highlighting effect */

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #66c999;
}

::selection {
    color: white;
    background: #66c999;
}

body {
    margin: 0;
    padding: 0;
    background: white url("../img/background_texture.jpg") repeat;
    font-family: 'Raleway', sans-serif;
    color: #888888;
}

h1,
a,
button {
    font-family: 'Bitter', serif;
}

h1 {
    color: #4f7161;
    font-size: 3em;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

h2,
h3 {
    color: #6b887a;
}

p {
    font-family: Arial, sans-serif;
    text-align: justify;
    font-size: 0.9em;
    line-height: 160%;
    letter-spacing: 1px;

    /*
    text-shadow: 1px 1px rgba(158, 158, 158, 0.36);
    */
}

a {
    letter-spacing: 1.5px;
}

button {
    display: block;
    color: white;
    background: #6b887a;
    border-radius: 4px;
    border: 2px solid #6b887a;
    padding: 4px 8px;
    margin-top: 20px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

button:hover {
    color: white;
    background: #66c999;
    border: none;
    padding: 6px 10px;
}

button:active {
    color: white;
    background: #c81e21;
    border: none;
    padding: 6px 10px;
}

button:focus { /* Eliminates the blue "outline" that appears by browser default when clicking a button */
    outline: 0;
}

/* ===================================================== max width containers */

.hf-container,
.nav-container,
.content-container {
    margin: 0 auto;
}

.hf-container { /* header & footer container */
    max-width: 1600px;
    clear: both;
}

.nav-container,
.content-container { /* main content container */
    max-width: 1000px;
}

.content-container { /* main content container */
    margin-bottom: 20px;
}

@media all and (max-width: 1000px) {
    .content-container {
        padding: 0 10px;
    }
}

/* =================================================================== header */

#logo {
    background: #4f7161 url("../img/header_background.jpg") repeat;
}

#logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 0;
}

/* =============================================================== navigation */

nav {
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0 0;
}

nav a {
    display: block;
    text-decoration: none;
    line-height: 60px;
    padding: 10px 20px;
    font-size: 1.8em;
    color: #c81e21;
}

nav a:hover {
    color: white;
    background-color: #c81e21;
}

/* makes nav buttons bunch up when window is at minimum width set */
@media all and (min-width: 500px) {
    nav li {
        display: inline-block;
        width: 50%;
    }
}

/* makes nav buttons space themselves out when window is at minimum width set */
@media all and (min-width: 800px) {
    nav li {
        display: inline-block;
        width: calc(100% / 4);
    }

}

/* =================================================================== footer */

footer {
    background-color: #c81e21;
    padding: 20px 0;
    text-align: center;
}

div.footer-container {
    max-width: 750px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}

footer img {
    max-width: 100px;
}

footer p {
    text-align: center;
    color: white;
}

footer ul {
    margin: 0;
    padding: 0 0;
}

footer li {
    display: block;
}

footer a {
    text-decoration: none;
    font-size: 1.4em;
    line-height: 60px;
    padding: 10px 0;
    color: white;
}

footer a:hover {
    color: #66c999;
}

@media all and (min-width: 500px) {
    footer li {
        display: inline-block;
        width: 50%;
    }
}

/* makes nav buttons space themselves out when window is at minimum width set */
@media all and (min-width: 800px) {
    footer li {
        display: inline-block;
        width: calc(100% / 4);
    }

}

.social-container {
    max-width: 400px;
    margin: 40px auto 15px;
}

.social-container li {
    display: inline;
    margin: 0 40px;
}

.socialfoot {
    max-width: 35px;
}

@media all and (max-width: 500px) {
    .social-container li {
        display: block;
    }
}

.footcontact {
    max-width: 700px;
    margin: 0 auto;
}

.footcontact a {
    font-size: 1em;
}

.footcontact p {
    font-family: 'Bitter', serif;
    border-left: 2px solid white;
}

.footcontact p.noline {
    border-left: none;
}

@media all and (max-width: 800px) {
    .footcontact p {
        border-left: none;
    }

}

/* ================================================================= homepage */

.content-container {
    text-align: center;
}

#homeh1 h2 {
    font-size: 40px;
}

/* -------------------------------------------------------------- home images */

#homecontent img {
    max-width: 500px;
    margin: 0;
}

.sliphover-container {
    font-size: 2em;
    letter-spacing: 2px;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

.hcleft {
    float: left;
}

@media all and (max-width: 500px) {
    .sliphover-container {
        font-size: 1.5em;
    }

    #homecontent img {
        max-width: 350px;
    }

    .hcleft {
        float: none;
    }
}

@media all and (max-width: 800px) {
    #homecontent img {
        max-width: 350px;
        text-align: center;
    }

    .hcleft {
        float: none;
    }

}

/* ===================================================================== menu */

.menu {
    text-align: left;
    margin: 40px 0 40px;
}

.menu img {
    height: 200px;
    width: 300px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 4px solid #c81e21;
    float: left;
}

.menu-item {
    height: 200px;
    margin-top: 60px;
    clear: both;
}

.food-info {
    float: left;
    max-width: 500px;
    text-align: justify;
    margin-left: 30px;
}

@media all and (max-width: 500px) {
    .menu {
        clear: both;
        padding-top: 40px;
    }

    .food-info {
        margin-left: 0;
    }
}


@media all and (max-width: 800px) {
    .menu {
        clear: both;
        padding-top: 40px;
    }

    .food-info {
        margin-left: 0;
    }
}

/* =============================================================== gift cards */

.content-container ul {
    list-style: none;
    padding-left: 0;
}

.content-container li {
    display: inline;
    text-size: 2em;
    margin: 0 20px;
}

.content-container a {
    text-decoration: none;
    color: #c81e21;
    font-size: 1.6em;
}

.content-container a:hover {
    text-decoration: none;
    color: #66c999;
}

@media all and (max-width: 500px) {
    .content-container a {
        font-size: 1.2em;
    }
}

/* -------------------------------------------------------------------- cards */

#card10,
#card25,
#card50,
#card100 {
    height: 200px;
    width: 300px;
    margin: 0 auto;
    padding: 10px 25px;
    background-color: #6b887a;
    text-align: left;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.2);
}

#card10 h2,
#card25 h2,
#card50 h2,
#card100 h2 {
    color: #c81e21;
    text-align: right;
    text-shadow: 2px 2px white;
    font-size: 2.2em;
    letter-spacing: 2px;
    margin-top: 10px;
    padding: 0;

}

#card10 img,
#card25 img,
#card50 img,
#card100 img {
    width: 65px;
    float: left;
}

#card10 {
    background-image: url("http://julioaenlle.net/project_final3_aenlle_julio/img/cards/card10.jpg");
}

#card25 {
    background-image: url("http://julioaenlle.net/project_final3_aenlle_julio/img/cards/card25.jpg");
}

#card50 {
    background-image: url("http://julioaenlle.net/project_final3_aenlle_julio/img/cards/card50.jpg");
}

#card100 {
    background-image: url("http://julioaenlle.net/project_final3_aenlle_julio/img/cards/card100.jpg");
}

.card {
    margin: 50px 0 75px;
}

/* ================================================================= location */

.locationmain {
    max-width: 700px;
    margin: 0 auto;
}

.location {
    width: 233px;
    text-align: left;
    float: left;
}

.location h2 {
    margin-top: 0;
}

.location img {
    width: 45px;
    margin: 0 10px;
}

.location ul {
    list-style: none;
}

.location li {
    display: inline;
}

.locationicons {
    clear: both;
}

.locationicons img {
    width: 45px;
    margin: 40px 10px;
    clear: both;
}

@media all and (max-width: 500px) {
    .locationmain {
        margin: 0 60px;
    }

    .location li {
        display: inline;
    }

    .locationicons img {
        width: 25px;
    }

}
