/* Sections for easy search
max width containers
header
*/

/* Site colors
#4f7161
#6b887a
#66c999
#c81e21
#666666
*/

@import "https://fonts.googleapis.com/css?family=Bitter:400,700|Raleway:500,500i";

html {
    box-sizing: border-box;
}

/* this is for customized highlighting effect */

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #66c999;
}

::selection {
    color: white;
    background: #66c999;
}

body {
    margin: 0;
    padding: 0;
    background: white url("../img/background_texture.jpg") repeat;
    font-family: 'Raleway', sans-serif;
    color: #888888;
}

h1,
a,
button {
    font-family: 'Bitter', serif;
}

h1 {
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

h1 {
    color: #4f7161;
    text-transform: uppercase;
}

h2 {
    color: #6b887a;
}

p {
    font-family: Arial, sans-serif;
    text-align: justify;
    font-size: 0.9em;
    line-height: 160%;
    text-shadow: 1px 1px rgba(158, 158, 158, 0.36);
}

button {
    display: block;
    color: white;
    background: #6b887a;
    border-radius: 4px;
    border: 2px solid #6b887a;
    padding: 4px 8px;
    margin-top: 20px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

button:hover {
    color: white;
    background: #66c999;
    border: none;
    padding: 6px 10px;
}

button:active {
    color: white;
    background: #c81e21;
    border: none;
    padding: 6px 10px;
}

button:focus { /* Eliminates the blue "outline" that appears by browser default when clicking a button */
    outline: 0;
}

/* ------------------------------------------------ max width containers ---- */

.hf-container,
.content-container {
    margin: 0 auto;
}

.hf-container { /* header & footer container */
    max-width: 1600px;
}

.content-container { /* main content container */
    max-width: 1000px;
}

/* -------------------------------------------------------------- header ---- */


/* ---------------------------------------------------------------- logo ---- */

#logo {
    background: #4f7161 url("../img/header_background.jpg") repeat;
}

#logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 0;
}

/* makes nav buttons bunch up when window is at minimum width set */
@media all and (min-width: 500px) {

}

/* makes nav buttons space themselves out when window is at minimum width set */
@media all and (min-width: 800px) {
    #logo {
    }
}

/* ---------------------------------------------------------- navigation ---- */

nav {
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0 0;
}

nav a {
    display: block;
    text-decoration: none;
    line-height: 60px;
    padding: 10px 20px;
    font-family: 'Bitter', serif;
    font-size: 1.8em;
    color: #c81e21;
}

nav a:hover {
    color: white;
    background-color: #c81e21;
}

/* makes nav buttons bunch up when window is at minimum width set */
@media all and (min-width: 500px) {
    nav li {
        display: inline-block;
        width: 50%;
    }
}

/* makes nav buttons space themselves out when window is at minimum width set */
@media all and (min-width: 800px) {
    nav li {
        display: inline-block;
        width: calc(100% / 4);
    }

}

/* ------------------------------------------------------ Footer ---- */

footer {
    background-color: #c81e21;
    padding: 20px 0;
    text-align: center;
}

footer p {
    text-align: center;
    color: white;
}
